body {
    font-family: Arial;
    background: #f4f4f4;
    padding: 20px;
}

h1 {
    color: #d63031;
}

.card {
    background: white;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 8px;
}

input, select, button {
    padding: 8px;
    margin: 5px;
}
